@model CRM.Models.User
@using Microsoft.AspNetCore.Authentication

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">
        Hello @User.FindFirst("user").Value
    </h1>
    <p>You are a @User.FindFirst("role").Value</p>

    <div class="app-info">
        <h2>What You Can Do:</h2>
        <ul>
            <li>Create and manage businesses</li>
            <li>Add and view companies associated with businesses</li>
            <li>Manage your contact persons</li>
            <li>Add notes for tracking important information</li>
        </ul>

        <h2>About the App:</h2>
        <p>
            This app allows you to efficiently organize and manage your business-related information.
            Whether you need to track companies, contacts, or important notes, it's all at your fingertips.
        </p>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $('body').hide().fadeIn(1000);
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            padding: 20px;
        }

        .text-center {
            text-align: center;
            margin-top: 50px;
        }

        .display-4 {
            font-size: 1.5em;
            color: #007bff;
            transition: font-size 0.2s ease-in-out;
        }

        .app-info {
            max-width: 600px;
            margin: 20px auto;
            text-align: left;
        }

            .app-info h2 {
                color: #007bff;
            }

            .app-info ul {
                list-style-type: none;
                padding: 0;
            }

            .app-info li {
                margin-bottom: 10px;
            }
    </style>
}
